.btn-grey {
    color: #4a5677;
    background: #f2f3f7;
    padding: 6px 18px;
    font-size: 12px;
    font-weight: 600;
    border: 1px solid #dbe3ef;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    &:hover {
        background: #f4f6fd;
    }

    &:active {
        background: #eeeff3;
    }
    &:disabled {
        opacity: 0.6;
        color: #4a5677;
        background: #f2f3f7;
        padding: 6px 18px;
        font-size: 12px;
        font-weight: 600;
        border: 1px solid #dbe3ef;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.06);
        border-radius: 4px;

        &:hover {
            cursor: default;
        }
    }
}

.btn-green {
    color: #ffffff;
    background: #3ace5a;
    border: 1px solid #2ab448;
    padding: 6px 18px;
    font-size: 12px;
    font-weight: 600;
    box-shadow: 0px 2px 6px rgba(162, 158, 176, 0.3);
    border-radius: 4px;

    &:hover {
        background: #4ddc6c;
    }

    &:active {
        background: #34c855;
    }
    &:disabled {
        opacity: 0.6;
        color: #ffffff;
        background: #3ace5a;
        border: 1px solid #2ab448;
        padding: 6px 18px;
        font-size: 12px;
        font-weight: 600;
        box-shadow: 0px 2px 6px rgba(162, 158, 176, 0.3);
        border-radius: 4px;

        &:hover {
            cursor: default;
        }
    }
}

.btn-danger {
    color: #ffffff;
    padding: 6px 18px;
    font-size: 12px;
    font-weight: 600;
    background: #c51414;
    border: 1px solid #c51414;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.06);
    border-radius: 4px;

    &:hover {
        background: #961111;
    }

    &:active {
        background: #c51414;
    }

    &:disabled {
        color: #ffffff;
        padding: 6px 18px;
        font-size: 12px;
        font-weight: 600;
        background: #c51414;
        border: 1px solid #c51414;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.06);
        border-radius: 4px;
        opacity: 0.6;

        &:hover {
            cursor: default;
        }
    }
}

.btn-white {
    color: #4a5677;
    padding: 6px 18px;
    font-size: 12px;
    font-weight: 600;
    background: linear-gradient(180deg, #ffffff 0%, #f8f9ff 100%);
    border: 1px solid #dbe3ef;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.06);
    border-radius: 4px;

    &:hover {
        background: linear-gradient(180deg, #ffffff 0%, #fcfcff 100%);
    }

    &:active {
        background: linear-gradient(180deg, #f8f9ff 0%, #f1f2f5 100%);
    }

    &:disabled {
        opacity: 0.6;
        color: #4a5677;
        padding: 6px 18px;
        font-size: 12px;
        font-weight: 600;
        background: linear-gradient(180deg, #ffffff 0%, #f8f9ff 100%);
        border: 1px solid #dbe3ef;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.06);
        border-radius: 4px;

        &:hover {
            cursor: default;
        }
    }
}

.btn-blue {
    color: #ffffff;
    padding: 6px 18px;
    font-weight: 600;
    background: #0088ff;
    border: 1px solid #0088ff;
    border-radius: 4px;
    &:hover {
        background: #618cff;
    }
    &:active {
        background: #4a78f2;
    }
    &:disabled {
        opacity: 0.6;
        color: #ffffff;
        padding: 6px 18px;
        font-size: 12px;
        font-weight: 600;
        background: #7fa3ff;
        border: 1px solid #7fa3ff;
        border-radius: 4px;

        &:hover {
            cursor: default;
        }
    }
}

.btn-cancel {
    color: #0088ff;
    padding: 6px 18px;
    font-size: 12px;
    font-weight: 600;
    background-color: #fff;
    border: 1px solid #0088ff;
    border-radius: 4px;

    &:hover {
        background-color: rgb(226, 238, 255);
    }

    &:active {
        background-color: rgb(226, 238, 255);
    }

    &:disabled {
        opacity: 0.6;
        color: #ffffff;
        padding: 6px 18px;
        font-size: 12px;
        font-weight: 600;
        background-color: rgb(206, 206, 206);
        border: none;
        box-shadow: 0px 2px 6px rgba(162, 158, 176, 0.3);
        border-radius: 4px;

        &:hover {
            cursor: default;
        }
    }
}

.btn-icon {
    min-height: auto;
    color: #0088ff;
    padding: 8px 8px;
    font-size: 10px;
    font-weight: 600;
    background-color: #fff;
    border: 1px solid #0088ff;
    border-radius: 4px;
  
    &:hover {
        background-color: rgb(226, 238, 255);
    }

    &:active {
        background-color: rgb(226, 238, 255);
    }

    &:disabled {
        opacity: 0.6;
        padding: 8px 8px;
        font-size: 10px;
        font-weight: 600;
        background-color: rgb(234, 234, 234);
        box-shadow: 0px 2px 6px rgba(162, 158, 176, 0.3);
        border-radius: 4px;

        &:hover {
            cursor: default;
        }
    }
}
